 O volume na unidade C ‚ OS
 O N£mero de S‚rie do Volume ‚ 32AA-10DE

 Pasta de C:\Users\fernandos\Documents\Projetos\Mahle\Projeto\APIs\RecipeConfigurationService

14/11/2017  13:55    <DIR>          .
14/11/2017  13:55    <DIR>          ..
14/11/2017  13:55                 0 .gitignore
14/11/2017  13:54    <DIR>          recipeconfigurationservice
               1 arquivo(s)              0 bytes
               3 pasta(s)   32.998.682.624 bytes dispon¡veis
